<h1>Rejected Clients</h1>

<% if @hosts.empty? %>
  <h3>There are no rejected clients</h3>
<% else %>
  <div class="table-responsive">
    <table id="rejected_hosts" class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th>Name</th>
          <th>FQDN</th>
          <th>Client request at</th>
          <th>User</th>
          <th>Rejected At</th>
          <th>Reason</th>
          <th>Rejecter</th>
        </tr>
      </thead>

      <tbody>
        <%= render partial: 'rejected_host', collection: @hosts %>
      </tbody>
    </table>
  </div>
<% end %>
