<%= render partial: 'header' %>

<div class="row">
  <div class="col-xs-10">
    <h3>Bacula Configuration</h3>
  </div>
</div>

<div>
  <div class="col-xs-10">
    <pre>
<%= @client.bacula_config %>
    </pre>
  </div>
</div>
