<div class="col-xs-4 col-xs-offset-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>
        <label class="glyphicon glyphicon-log-in"></label>
        Login
      </h4>
    </div>

    <br />

    <%= bootstrap_form_tag(url: grnet_path, method: :post, layout: :horizontal,
                           label_col: 'col-xs-3', control_col: 'col-xs-8' ) do |f| %>
      <%= f.text_field(:username, required: true) %>
      <%= f.password_field(:password, required: true) %>

      <div class="row">
        <div class="col-xs-2 col-xs-offset-9">
          <%= f.submit 'Login', class: 'btn btn-default' %>
        </div>
      </div>
    <% end %>
    <br />
  </div>
</div>
