<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>New FAQ entry</h4>
      </div>
      <div class="panel-body">
        <%= render partial: 'form' %>
      </div>
    </div>
  </div>
</div>
