<h1>Edit Job Template <%= @job.name %></h1>

<div class="row">
  <div class="col-lg-4 col-md-5 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3> Job Attributes</h3>
      </div>
      <br />
      <div class="panel-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>

  <div class="col-lg-5 col-md-6 col-sm-6">
    <div id="fileset">
      <% fileset = @fileset || @job.fileset %>
      <%= render partial: 'fileset', locals: { fileset: fileset } if fileset %>
    </div>
    <div id="schedule">
      <% schedule = @schedule || @job.schedule %>
      <%= render partial: 'schedule', locals: { schedule: schedule } if schedule %>
    </div>
  </div>
</div>
