<h1>New Job Template</h1>

<div class="row">
  <div class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3> Job Attributes</h3>
      </div>
      <br />

      <%= render 'form' %>
    </div>
  </div>

  <div class="col-xs-4">
    <div id="fileset">
    </div>
    <div id="schedule">
      <% schedule = @schedule || @job.schedule %>
      <%= render partial: 'schedule', locals: { schedule: schedule } if schedule %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-1">
    <%= link_to 'Cancel', host_path(@job.host), class: 'btn btn-danger', role: 'button' %>
  </div>
</div>
