<h1>"<%= @job.name %>" Job Template</h1>

<div class="row">
  <div class="col-xs-6">
    <h3> Job Attributes</h3>
  </div>
</div>

<div class="row">
  <%= render partial: 'job_details' %>
</div>

<div class="row">
  <div class="col-xs-2">
    <%= link_to 'Edit', edit_host_job_path(@host, @job),
      class: "btn btn-primary", role: "button" %>
  </div>
</div>
