<div class="col-xs-4">
  <h3>Client FileDaemon Config</h3>
  <pre class="pre">
<%= @host.bacula_fd_filedaemon_config %>
  </pre>
</div>
<div class="col-xs-4">
  <h3>Client Director Config</h3>
  <pre class="pre">
<%= @host.bacula_fd_director_config %>
  </pre>
</div>
<div class="col-xs-4">
  <h3>Client Messages Config</h3>
  <pre class="pre">
<%= @host.bacula_fd_messages_config %>
  </pre>
</div>

<div class='col-xs-10'>
  <%= link_to fd_config_host_path(@host, token: current_user.token),
              class: "btn btn-default", role: "button", download: 'fd_config' do %>
    <label class="glyphicon glyphicon-download-alt text-primary"></label>
    Download Config
  <% end %>
</div>
