<h2>Configuration for <%= @host.name %>
  <%= host_status_label(@host) %>
</h2>

<br/>

<ul class="nav nav-tabs" role='tablist'>
  <li role="presentation" class="active">
    <a aria-controls='details'  role='tab' data-toggle='tab' href="#details">Client Details</a>
  </li>
  <li role="presentation">
    <a aria-controls='jobs' role='tab' data-toggle='tab' href="#jobs">Jobs</a>
  </li>
  <li role="presentation">
    <a aria-controls='fd-config'role='tab' data-toggle='tab' href="#fd-config">FD Config</a>
  </li>
</ul>

<br/>
