<div class="row">
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Edit Client <%= @host.name %></h3>
      </div>
      <br />
      <%= render 'form' %>
    </div>
  </div>
</div>
