<div class="col-xs-5">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Edit Schedule</h4>
    </div>

    <%= render partial: 'form',
      locals: { url: host_schedule_path(@host, @schedule.id, job_id: @job_id),
                method: :patch } %>
  </div>
</div>

<%= render partial: 'level_explanation' %>
