<div class="col-xs-5">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>New Schedule</h4>
    </div>

    <%= render partial: 'form', locals: { url: host_schedules_path(@host), method: :post } %>
  </div>
</div>

<%= render partial: 'level_explanation' %>
