<footer class="footer">
  <div class="footer">
    <p>
This is a service provided by
      <a target="_blank" href="http://noc.grnet.gr">GRNET NOC</a> |
      <a target="_blank" href="//facebook.com/noc.grnet.gr">
        <img src="/images/fb.png"></img>
      </a> |
      <a target="_blank" href="//twitter.com/grnetnoc">
        <img src="/images/tw.png"></img>
      </a> |
      <a href="/faq">
        FAQ
      </a>
    </p>
    <p>
      <iframe width="500" height="50" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" align="middle" src="https://dido.grnet.gr/logos/index.html"></iframe>
    </p>
  </div>
</footer>

