<div class='row'>
  <% if @global_stats.present? %>
    <div class='col-xs-3'>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Global Stats</h4>
        </div>

        <div class="table-responsive">
          <table class="table table-striped table-bordered table-condensed">
            <% @global_stats.each do |name, value| %>
              <tr>
                <td><%= name.to_s.titleize %></td>
                <td><b><%= value %></b></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  <% end %>

  <div class="col-xs-4">
    <div id="jobs_status"></div>
  </div>
  <div class="col-xs-4">
    <div id="jobs_stats"></div>
  </div>
</div>

<%= archiving_chart('jobs_status', @job_status) %>
<%= archiving_chart('jobs_stats', @job_stats) %>
