<div class="row right">
  <%= link_to 'New Client', new_host_path, class: 'btn btn-primary', role: 'button' %>
</div>

<h1>My Bacula Clients</h1>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th>Name</th>
        <th>Uname</th>
        <th>Active Jobs</th>
        <th>Last Backup</th>
        <th>FileRetention (days)</th>
        <th>JobRetention (days)</th>
        <th>Space Used</th>
        <th>File count</th>
        <th>AutoPrune</th>
      </tr>
    </thead>

    <tbody>
      <%= render partial: 'client', collection: @clients %>
    </tbody>
  </table>
</div>

<% if @hosts.any? %>
  <h1>My Pending Hosts</h1>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th>Name</th>
          <th>FQDN</th>
          <th>Port</th>
          <th>Password</th>
          <th>FileRetention (days)</th>
          <th>JobRetention (days)</th>
          <th>AutoPrune</th>
          <th>Verified</th>
          <th>Created At</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'hosts/host', collection: @hosts %>
      </tbody>
    </table>
  </div>
<% end %>

<%= render partial: 'client_graphs', locals: { path: clients_path } %>
