<div class="row right">
  <%= link_to 'New Client', new_host_path, class: 'btn btn-primary', role: 'button' %>
</div>

<% if @hosts.empty? && @clients.empty? %>
  <h3> You have not configured any hosts yet </h2>
<% else %>
  <%= render partial: 'clients' if @clients.any? %>
  <%= render partial: 'pending_clients' if @hosts.any? %>
  <%= render partial: 'client_graphs', locals: { path: clients_path } if @clients.any? %>
<% end %>
