<%= render partial: 'header' %>

<div class="row">
  <div class="col-xs-6">
    <h3>Recent Jobs</h3>
  </div>
</div>
<div class="row">
  <%= render partial: 'recent_jobs' %>
</div>

<%= link_to 'Back to clients', clients_path %>
