/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require jstree-default
 *= require bootstrap-chosen
 *= require dataTables.bootstrap.min
 *= require jquery.timepicker.min
 *= require_tree .
 *= require_self
 */

/* Make sure navbar does not overlay body */
body {
  padding-top: 70px;
  height: 100%;
}

html {
  height: 100%;
}

.right {
  text-align: right;
  margin-right: 0px;
  float: right;
}

.main-container {
  min-height: calc(100% - 110px);
  margin: 0 auto;
}

footer.footer {
  width: 100%;
  color: #b4b4bf;
  text-align: center;
  padding-top: 5px;
  bottom: 0px;
  background-color: #F7F7F7;
  height: 110px;
  margin-bottom: 0;
}

.footer a {
  color: #08c;
}

.graybox {
  max-width: 500px;
  margin-right: 0;
  margin-left: 0;
  background-color: #F7F7F9;
  margin-bottom: 30px;
}

.graybox form {
  padding-top: 30px;
}

#_days_back {
  margin: auto 10px;
}

tr.fatal > td {
  background-color: #EA7272;
}

tr.fatal > td {
  background-color: #EA7272;
}

li.logo {
}

li.logo > a {
  padding-left: 60px;
  background: url('/images/logo.png') no-repeat scroll 4px 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

li.logo > a > p {
  font-size: 13px;
  margin-bottom: 0;
  color: #333333px;
}

.jstree-closed > a > i.jstree-checkbox,
.jstree-open > a > i.jstree-checkbox
{ display: none; }

.datatable-wrapper {
  margin-bottom: 20px;
}

.faq-link > svg {
  visibility: hidden;
}

.time-selects {
  width: 47%;
  display: inline-block;
}

h2:hover > a.faq-link > svg {
  visibility: visible;
}
