<%= render partial: 'header' %>

<div class="row">
  <div class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Edit Admin</h3>

        <%= render partial: 'form', locals: { url: admin_user_path(@user), method: :patch } %>
      </div>
    </div>
  </div>
</div>
