<%= render partial: 'header' %>

<div class="row">
  <div class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>New Admin</h3>

        <%= render partial: 'form', locals: { url: admin_users_path, method: :post,
                                              new_user: true } %>
      </div>
    </div>
  </div>
</div>
