<h3>Frequently Asked Questions</h3>
<h4>...and some useful tips</h4>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-condensed">
    <tbody>
      <%= render partial: 'faq', collection: @faqs %>
    </tbody>
  </table>
</div>
