<div class="row">
  <div class="col-xs-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Edit Fileset: <%= @fileset.name %></h3>
      </div>

      <div class="panel-body">
        <%= render partial: 'form',
          locals: { url: host_fileset_path(@host, @fileset.id, job_id: @job_id),
                    method: :patch } %>
      </div>
    </div>
  </div>
</div>
