<div class="row">
  <div class="col-xs-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Edit Fileset: <%= @fileset.name %></h3>
      </div>

      <br />

      <%= render partial: 'form',
        locals: { url: host_fileset_path(@host, @fileset.id, job_id: @job_id), method: :patch } %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-1 col-xs-offset-4 text-right">
    <%= link_to 'Cancel',
        @job_id.present? ? edit_host_job_path(@host, @job_id) : new_host_job_path(@host),
        role: 'button', class: 'btn btn-danger'%>
  </div>
</div>
