<div class="row">
  <div class="col-xs-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>New Fileset</h3>
      </div>

      <div class="panel-body">
        <%= render partial: 'form',
                   locals: { url: host_filesets_path(@host), method: :post } %>
      </div>
    </div>
  </div>
</div>
